<!-- Discord & Social Media Embed Tags -->
<meta property="og:site_name" content="Notes, Media, & Other Stuff" />
<meta property="og:title" content="{{ title | default('Notes, Media, & Other Stuff') }}" />
<meta property="og:description" content="{{ description | default('A personal database of thoughts, notes, and everything in between.') }}" />
<meta property="og:image" content="{{ image | default('https://i.clouds.tf/78vt/37tf.png') }}" />
<meta name="theme-color" content="#2979FF" />
